extends ../layout

block content
  .container
    h1.main-title= tour.title

    .tour.show
      h4 투어제목
      .content= tour.title
      h4 위치
      .content= tour.goTo
      h4 투어 1인당 가격
      .content= tour.pricePer
      h4 투어 시작 시간
      .content= tour.startTime
      h4 투어 일정
      .content
        ul.list-group.list-group-flush
          each item in tour.allTourList
            li.list-group-item= item
      h4 투어 설명
      .content= tour.tourExpression
        .row
          .col-sm
            .numbers.
              #[span.number.num-comments= tour.numComments] comment,
              #[span.number.num-reads= tour.numReads] reads
          .col-sm
            .guide
              | posted #{moment(tour.createdAt).format('YYYY-MM-DD')}
              if tour.guide
                | 
                | by #[a(href=`/users/${tour.guide.id}`)= tour.guide.name] 

      if currentUser
        if currentUser.type == 'customer'
          button.btn.btn-primary(type="button", data-toggle="modal", data-target="#exampleModal")
            Launch Make Reservation
          .modal.fade#exampleModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  h5.modal-title#exampleModalLabel 예약
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-body
                  form(action=`/tours/${tour.id}/reservation`, method='POST')
                    .form-group
                      label(for='tourDate') Date
                      input.form-control(type="text", name="tourDate", placeholder="When you want your tour?", value=reservation.tourDate)
                    .form-group
                      label(for='numberOfPerson') number Of Person
                      input.form-control(type="text", name="numberOfPerson", placeholder="How many person?", value=reservation.numberOfPerson)
                      
                    button.btn.btn-primary(type="submit") Make Your Reservation
      
      .buttons
        if currentUser
          if tour.guide && tour.guide.id == currentUser.id || currentUser.type == "master"
            | 
            a.btn.btn-outline-secondary(href=`/tours/${tour.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/tours/${tour.id}?_method=delete`) Delete
      
    if tour.numComments > 0
      hr
      h3 #{tour.numcoments} comment(s)
      .comments.show
        each comment in comments
          .comment.card
            .card-body
              .content= comment.content
            .row.card-body
              .col-sm
              .col-sm.text-right
                .customer
                  | Commented on #{moment(comment.createdAt).format('YYYY-MM-DD')}
                  if comment.customer
                    | 
                    | by #[a(href=`/users/${comment.customer.id}`)= comment.customer.name]

    if currentUser
      form(action=`/tours/${tour.id}/comments`, method='POST')
        .form-group
          label(for='comment') Your Comment
          textarea.form-control(name="content", rows="3")
        button.btn.btn-primary(type="submit") Post Your Comment