extends ../layout

include ../includes/paginate

block content
  .container
    form.form-inline.search-input-group(action='/tours', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Tour List
      if tours.total > 0
        .small Total #{tours.total} tour(s)

    if tours.total <= 0 
      .alert.alert-info No tours available yet
    else
      .tours
        each tour in tours.docs
          .tour
            a.title(href=`/tours/${tour.id}`)= tour.title
            br
            p= tour.simpleContent
            .row
              .col-sm
                .numbers.
                  #[span.number.num-comments= tour.numComments] comments,
                  #[span.number.num-reads= tour.numReads] reads
              .col-sm
                .guide
                  | Posted #{moment(tour.createdAt).format('YYYY-MM-DD')}
                  if tour.guide
                    | 
                    | by #[a(href=`/users/${tour.guide.id}`)= tour.guide.name] 
            hr

      +paginate(tours, '/tours', query)
      
    if currentUser
      if currentUser.type == "guide" || "master"
        a.btn.btn-primary(href='/tours/new') Add Your Tour