extends ../layout

block content
  .container
    h1.main-title= tour.title

    .tour.show
      h4 투어제목
      .content= tour.title
      h4 위치
      .content= tour.goTo
      h4 투어 1인당 가격
      .content= tour.pricePer
        |  USD
      h4 투어 시작 시간
      .content= tour.startTime
      h4 투어 일정
      .content
        ul.list-group.list-group-flush
          each item in tour.allTourList
            li.list-group-item= item
      h4 투어 설명
      .content= tour.tourExpression
        .row
          .col-sm
            .numbers.
              #[span.number.num-comments= tour.numComments] comment,
              #[span.number.num-reads= tour.numReads] reads
          .col-sm
            .guide
              | posted #{moment(tour.createdAt).format('YYYY-MM-DD')}
              if tour.guide
                | 
                | by #[a(href=`/users/${tour.guide.id}`)= tour.guide.name] 

      if currentUser
        if currentUser.type == 'customer'
          .buttons
            button.btn.btn-primary(type="button", data-toggle="modal", data-target="#reservation")
              Launch Make Reservation
            |
            button.btn.btn-primary(type="button", data-toggle="modal", data-target="#reservationCheck")
              Launch Check Reservation
          .modal.fade#reservation(tabindex="-1" role="dialog" aria-labelledby="reservationLabel" aria-hidden="true")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  h5.modal-title#exampleModalLabel 예약
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-body
                  form(action=`/tours/${tour.id}/reservation`, method='POST')
                    .form-group
                      label(for='tourDate') 예약일(-로 구분하여 입력)
                      input.form-control(type="text", name="tourDate", placeholder="YYYY-MM-DD", value=reservation.tourDate)
                    .form-group
                      label(for='numberOfPerson') 인원
                      input.form-control(type="text", name="numberOfPerson", placeholder="How many person?", value=reservation.numberOfPerson)
                      
                    button.btn.btn-primary(type="submit") Make Your Reservation
        else
          .buttons
            button.btn.btn-primary(type="button", data-toggle="modal", data-target="#reservationCheck")
              Launch Check Reservation
            | 
            if currentUser.id == tour.guide
              a.btn.btn-outline-secondary(href=`/tours/${tour.id}/edit`) Edit
              | 
              a.btn.btn-outline-danger.need-confirm-btn(href=`/tours/${tour.id}?_method=delete`) Delete

        //reservation modal
        .modal.fade#reservationCheck(tabindex="-1" role="dialog" aria-labelledby="reservationCheckLabel" aria-hidden="true")
          .modal-dialog(role="document")
            .modal-content
              .modal-header
                h5.modal-title#exampleModalLabel 예약확인
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                  for reservations in reservation
                    dl.row
                      dt.col-sm-3 예약자
                      dd.col-sm-9  
                        p= reservations.name
                      dt.col-sm-3 예약일
                      dd.col-sm-9
                        | #{moment(reservations.tourDate).format('YYYY-MM-DD')}
                      dt.col-sm-3 인원
                      dd.col-sm-9  
                        p= reservations.numberOfPerson
                      dt.col-sm-3 총 금액
                      dd.col-sm-9
                        p= (tour.pricePer * reservations.numberOfPerson) + "USD"
                    hr
                      //- .buttons
                      //-   if currentUser.type != customer
                      //-     a.btn.btn-outline-secondary.btn-sm(href=`/tours/${tour.id}/${reservation.id}/edit`) Edit
                      //-     |
                      //-   a.btn.btn-outline-danger.need-confirm-btn.btn-sm(href=`/tours/${tour.id}/${reservation.id}?_method=delete`) Delete 
      
    if tour.numComments > 0
      hr
      h3 #{tour.numcoments} comment(s)
      .comments.show
        each comment in comments
          .comment.card
            .card-body
              .content= comment.content
            .row.card-body
              .col-sm
              .col-sm.text-right
                .customer
                  | Commented on #{moment(comment.createdAt).format('YYYY-MM-DD')}
                  if comment.customer
                    | 
                    | by #[a(href=`/users/${comment.customer.id}`)= comment.customer.name]

    if currentUser
      form(action=`/tours/${tour.id}/comments`, method='POST')
        .form-group
          label(for='comment') Your Comment
          textarea.form-control(name="content", rows="3")
        button.btn.btn-primary(type="submit") Post Your Comment