extends ../layout

block content
  .container
    h1.main-title= user.name
          
    dl.row
      dt.col-sm-3 Email
      dd.col-sm-9
        a(href=`mailto:${user.email}`)= user.email

      dt.col-sm-3 Created At
      dd.col-sm-9= user.createdAt
      
      if user.facebook.id
        dt.col-sm-3 Facebook
        dd.col-sm-9
          img.img-fluid.rounded-circle(src= user.facebook.photo)

    hr
    // 고객인 경우 예약내역
    if user.type == 'customer'
      p 예약 목록
      for reservations in reservation
        dl.row
          dt.col-sm-3 Title
          dd.col-sm-9  
            a(href=`/tours/${reservations.tour.id}`) 예약상품 상세보기
          dt.col-sm-3 예약인원
          dd.col-sm-9  
            p= reservations.numberOfPerson
          dt.col-sm-3 날짜
          dd.col-sm-9
            | #{moment(reservations.tourDate).format('YYYY-MM-DD')}


    // 가이드인 경우 개설한 상품 내역
    if user.type == 'guide'
      p 상품 목록
        for tours in tour
          dl.row
            dt.col-sm-3 Title
            dd.col-sm-9  
              a(href=`/tours/${tours.id}`)= tours.title
            dt.col-sm-3 Simple Expression
            dd.col-sm-9  
              p= tours.simpleContent
          


    hr
    if currentUser.type == 'master'
      p
        a.btn.btn-outline-secondary(href='/users/') List
        | 
        a.btn.btn-outline-primary(href=`/users/${user._id}/edit`) Edit
        | 
        a.btn.btn-outline-danger.need-confirm-btn(href=`/users/${user._id}?_method=DELETE`) Delete
    else
      if user.id == currentUser.id
        p
          a.btn.btn-outline-primary(href=`/users/${user._id}/edit`) Edit
          | 
          a.btn.btn-outline-danger.need-confirm-btn(href=`/users/${user._id}?_method=DELETE`) Delete